body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a
{
	color: #222;
}

a:hover
{
	text-decoration: underline;
}

ul, li
{
	list-style: none;
	padding: 0;
	margin: 0;
}

input
{
	padding: 10px;
	border-radius: 5px;
	margin-right: 10px;
	border: 1px solid #dddddd;
}

button
{
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #dddddd;
	background: transparent;
	color: #808080;
	cursor: pointer;
}

button:hover
{
	color: #222;
}

