<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a role="button" class="navbar-burger burger" (click)="menu.openMenu()" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <app-logo></app-logo>
    
    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            
          </a>
    
          <div class="navbar-item has-dropdown is-hoverable">
            <!-- <a class="navbar-link">
              
            </a> -->
    
            <div class="navbar-dropdown">
              <a class="navbar-item">
                
              </a>
              <a class="navbar-item">
                
              </a>
              <a class="navbar-item">
                
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                
              </a>
            </div>
          </div>
        </div>
  
      <div class="navbar-end">
        <div class="navbar-item" >
          <a (click)="showSearch()">
            <i class="fa fa-search"></i>
          </a>
        </div>
        <div class="navbar-item">
          <app-cartbar></app-cartbar>
        </div>
      </div>
    </div>
  </nav>
  